/* Main section CSS */
#section-introduce {
    background-image: url("../img/main_section.jpg");
    background-size:cover;
    background-origin: border-box;
}

#section-investment {
    background-image: url("../img/abc_main_invest_1.jpg");
    background-size:cover;
    background-origin: border-box;
}

#section-loan {
    background-image: url("../img/loan_section.jpg");
    background-size:cover;
    background-origin: border-box;
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓???↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
.loan-section {
    height: 670px;
    width: 1349px;
    padding-top: 150px;
    text-align: center;
}

.regiSuc-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center;
}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑???↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/

/* Administrator page CSS */
.adminMain-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center;
}
.adminMain-table {
    margin: 70 auto 0 auto;
}
.adminMain-table tr td{
    padding: 20px;
}
.adminJudgeList-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center;
}
.adminJudgeList-table {
    margin: 0 auto;
}
.adminJudgeList-table tr td {
    padding: 10px;
}
.judge-tr {
    cursor:hand;
}

.adminJudgeDetail-section {
    height: 1200px;
    width: 1349px;
    padding-top: 100px;
}

.adminJudgeDetail-table {
    width:100%;
    max-width:100%;
}

.adminJudgeDetail-table thead th,
.adminJudgeDetail-table thead td {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size:medium;
    padding:8px;
}

#judgeDetail {
    padding:8px;
}

.adminLoanManage-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center;
}

/* Loan page CSS */
.loanSuc-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center;
}

.loan-table {
    margin: 0 auto;
}

.loan-table tr td {
    padding: 5px;
}

/* Find password page CSS */
.searchpwd-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center;
}

.searchpwd-table {
    margin: 0 auto;
}

.searchpwd-table tr td {
    padding: 5px;
}

/* Change password page CSS*/
.changePwd-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center; 
}

.changePwd-table {
    margin: 0 auto;
}

.changePwd-table tr td{
    padding: 5px;
}

#notCorrect {
    color: red;
}

#correct {
    color: blue;
}

/* Login page CSS */
.login-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center;
}

.login-table {
    margin: 0 auto;
}

.login-table tr td {
    padding: 5px;
}

#login-button {
    text-align: center;
}

#isFail {
    color:red;
}

/* Registration page CSS */
.addmember-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center;
}

.addmember-table {
    margin: 0 auto;
}

.addmember-table tr td {
    padding: 5px;
}

/* Investment page CSS */
.invest-element{
 margin: 15px 30px;
 width: 320px;
 border: 1px solid;
 float: left;
}
.invest-click{
 color: black;
 position: relative;
}
.invest-img-hover{
    position: absolute;
    top: -50;
    background-color: #eaeaea;
    opacity: 0;
    width: 318px;
    height: 120px;
    padding-top: 50px;
}
.invest-img-hover span{
    margin-top: 100px;
    color: black;
    font-size: 20px;
}
.ivest-img{
 width: 318px;
 height: 120px;
}
.invest-title{
 padding: 10px;
 font-size: 19px;
 text-align: left;
}
.invest-info{
 margin: 0 20px 20px 20px;
 font-size: 16px;
}

.invest-info td {
 width: 140px;
}

.invest-info td:nth-child(1){
 text-align: left;
}

.invest-info td:nth-child(2){
 text-align: right;
 font-weight: bold;
}

.progress{
 margin: 20px;
}


/* Investment detail */
.panel-heading{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.panel-body{
    font-family: arial;
    font-size: 16px;
    text-align: justify;
}
#invest-detail-title{
    margin-bottom: 20px; 
}
#invest-detail-loan-info h3{
    text-align: left;
    border-left: 5px solid #1a53ff;
}
#invest-detail-table{
    text-align: center;
    width: 1000px;
    margin: 30px auto;
}
#invest-detail-table th{
    text-align: center;
}

/* Credit detail */
#invest-detail-credit{
    border: 3px solid #d9d9d9;
    width: 350px;
    height: 300px;
    margin-left: 20px;
    float: left;
}

/* Header of credit detail */
#invest-detail-credit h4{
    margin: 30px 60px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    border-bottom: 3px solid blue;
    text-align: center;
}

/* personal detail */
#invest-detail-personal{
    border: 3px solid #d9d9d9;
    width: 350px;
    height: 300px;
    margin-left: 20px;
    float: left;
}

/* Header of personal detail */
#invest-detail-personal h4{
    margin: 30px 60px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    border-bottom: 3px solid blue;
    text-align: center;
}

/* Table of personal detail */
#invest-detail-personal table{
 margin: auto;
 width: 210px;
}
#invest-detail-personal td:nth-child(2){
 
 text-align:right;
}
#invest-detail-personal td{
 padding: 7px 0;
}


/* Job detail */
#invest-detail-job{
    border: 3px solid #d9d9d9;
    width: 350px;
    height: 300px;
    margin-left: 20px;
    float: left;
}

/* Header of job detail */
#invest-detail-job h4{
    margin: 30px 60px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    border-bottom: 3px solid blue;
    text-align: center;
}

/* Table of job detail */
#invest-detail-job table{
 margin: auto;
 width: 210px;
}
#invest-detail-job td:nth-child(2){
 
 text-align:right;
}
#invest-detail-job td{
 padding: 7px 0;
}

/* Introduce detail */
#invest-detail-intro h3{
    clear: left;
    margin-top: 400px;
}

/* Image of introduce */
#invest-detail-intro img{
    width: 500px;
    height: 300px;
    margin: 20px;
    float: left;
}

/* Paragraph of introduce detail */
#invest-detail-intro p{
    text-align: justify;
    text-indent: 10px;
    margin-top: 50px;
}

/* Investment button */
#invest-button{
    margin-top:30px;
}

/* Account information of investment */
#invest-account-info{
    width: 500px;
    margin: auto;
}
#invest-account-info table{
    margin: auto;
    width: 400px;
}
#invest-account-info td{
    padding: 6px;
}
#invest-account-info td:nth-child(2) {
    text-align: right;
}
#invest-request{
    margin: auto;
    width: 500px;
}
#invest-request > div > * {
    margin : 5px 0 0 30px;
}

/* Investment simulation(Schedule of repayments) */
#invest-simulation{
    margin: 30px auto;
    width: 500px;
}

/* Investment fund */
#invest-money{
    margin-top: 10px;
    width: 200px;
}
#invest-attention{
    border: 1px solid black;
    margin: 50px auto;
    width: 700px;
}
#invest-attention123{
    margin: 20px;
    
}
#invest-attention123 p{
    text-align: left;
}
#invest-button2{ 
    margin: 30px 0; 
}

/* A box of investment success fund  */
#invest-wrap-border{
    border: 1px solid black;
    width: 500px;
    margin: 50px auto;
}
#invest-suc-wrap{
    margin: 40px;
}
#invest-suc-wrap span{
    margin: 30px 0;
    font-size: 18px;
}
#invest-suc-wrap a{
    display: block;
    margin: 20px 0;
}

/* Footer CSS */

/* Calculation CSS */
.calcul-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center;
}

.calcul-section {
    height: 670px;
    width: 1349px;
    padding-top: 100px;
    text-align: center;
}

/* My-Info page CSS */
.myInfo-table {
    width:100%;
    max-width:100%;
}

.myInfo-table thead th,
.myInfo-table thead td {
    vertical-align: bottom;
    font-size:medium;
    padding:8px;
}

.myLoanTable {
    width:100%;
    max-width:100%;
    margin-bottom:0px;
}

.myLoanTable thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size:medium;
    padding:8px;
    text-align:center;
}

.myLoanTable tbody tr {
    cursor:hand;
}

.myLoanTable tbody td {
    padding:8px;
}

#drop-table{
    margin : auto;
}

#drop-table td{
    text-align: center;
}

#drop-table td:first-child{
    width: 250px;
    padding-bottom: 20px;
}

#intro-head {
    color:white;
}
#sponosr-head {
    color:white;
}
#intro-section {
    height: 670px;
    width: 1349px;
    padding-top: 110px;
    text-align: center;
}
#intro-left-menu {
    padding-left:20px;
}

/* personal detail CSS */
#personal-data{
    border: 1px solid grey;
    height: 70px;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}
#personal-data span{
    margin: 0 20px;
}

#invest-data{
    border: 1px solid grey;
    float: left;
}

.detail-data-table{
    margin: 20px 0;
    width: 100%;
}
.detail-data-table td{
    font-size: 20px;
    padding: 10px 20px;
}
.detail-data-table td:nth-child(2){
    text-align: right;
}

#loan-data{
    border: 1px solid grey;
    float: right;
}

#invest-data,#loan-data{
    margin: 50px 0;
}

#chart_invest{
    width: 540px;
    height: 400px;
    padding: 30px;
}

/* Investment management */
#invest-chart1{
    float: left;
}
#invest-chart2{
    float: right;
}