.smenu li.smenu3 a {
	text-align: center;
	opacity: 0.3;
	padding-right: 10px;
	filter: alpha(opacity = 20);
	color: white;
	text-decoration: none;
	background: #2B6CA3;
}

.note {
	font-size: 15px;
	color: #FF0040;
}

.banner {
	margin: 10px auto 0 auto;
	width: 900px;
	height: 350px;
	overflow: hidden
}

.banner ul {
	width: 900px
}

.banner ul:after {
	display: block;
	width: 0;
	height: 0;
	clear: both;
	content: ''
}

.banner li {
	box-sizing: border-box;
	margin-left: 5px;
	float: left;
	width: 400px;
	height: 350px;
}

.banner li:first-child {
	margin-left: 0
}

.earthimg-click {
	position: relative;
}

.earthimg-click .earthimg-hover {
	clear: both;
	position: absolute;
	left: 50px;
	top: -140px;
	right: 0;
	bottom: 0;
	width: 400px;
	height: auto;
	z-index: 1;
	text-align: center;
	filter: alpha(opacity = 0); /*익스용 투명도 필터*/
	opacity: .0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.earthimg-click:hover .earthimg-hover {
	animation: mm 1s;
	-webkit-animation: mm 1s;
	filter: alpha(opacity = 100); /*익스용 투명도 필터*/
	opacity: 1.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

@
keyframes mm { 50% {
	transform: scale(1.0, 1.0);
}

}
@
-webkit-keyframes mm { 50% {
	-webkit-transform: scale(1.0, 1.0);
}

}
.earthend_table {
	border-top: 1px solid #8C8C8C;
	border-bottom: 1px solid #8C8C8C;
	font-size: 13px;
	text-align: center;
	font-weight:bold;
	margin: 15px 0 10px 0;
	color: #FDFDFF;
	width: 70%;
}

.earthend_table tr {
	border-bottom: 1px solid #8C8C8C;
	background: #FFFEFF;
	height: 30px;
	border-right: 1px solid #8C8C8C;
	line-height: 30px;
	text-align: center;
	letter-spacing: -1px;
}

.earthend_table td {
	border-top: 1px solid #8C8C8C;
	border-right: 1px solid #8C8C8C;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	color: #666;
}

.earthend_table .no_border {
	border-right: 1px solid #FFFEFF;
}

.btn_prev {
position: relative;
top:20px;
}

.btn_next {
position: relative;
top:20px;
}