body {
	background-image: url('../earthimg/animal96.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position:right bottom; 
	background-attachment: fixed;
}

.smenu li.smenu2 a {
	text-align: center;
	opacity: 0.3;
	padding-right: 10px;
	filter: alpha(opacity = 20);
	color: white;
	text-decoration: none;
	background: #2B6CA3;
}

.earthing_table {
	border-top: 2px solid #F7BE81;
	border-bottom: 2px solid #F7BE81;
	font-family:Oegyein;
	font-size: 0.9em;
	text-align: center;
	margin: 15px 0 10px 0;
	color: #191919;
	width: 100%;
}

.earthing_table th {
	border-bottom: 1px solid #F7BE81;
	background: #F5F6CE;
	height: 30px;
	border-right: 1px solid #F7BE81;
	line-height: 30px;
	text-align: center;
	letter-spacing: -1px;
}

.earthing_table td {
	border-top: 1px solid #F7BE81;
	border-right: 1px solid #F7BE81;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	color: #666;
}

.earthing_table .no_border {
	border-right: none;
}

.earthing_table .td_no_border {
	border-right: none;
	color: #FFFFFF;
}

.earthing_table .earthing_title {
	width: 35%;
	padding: 8px;
	text-align: justify;
	word-break: break-all;
}

.earthing_table .resultnumber {
	color: #FFFFFF;
}

.earthing_table .resultnumber:hover {
	color: #FF0000;
	background: #FFFFE4;
	font-size: 1.5em;
}

.earthing_table .td_no_border:hover {
	color: #FF0000;
	background: #FFFFE4;
	font-size: 1.5em;
}

.earthing_table .earthing_title a:link {
	color: #DB0000;
	text-decoration: none;
}

.earthing_table .earthing_title a:hover {
	color: #DB0000;
	font-weight: bold;
}

.earthing_table .earthing_title a:active {
	color: #DB0000;
	font-weight: bold;
	text-decoration: underline;
}

.earthing_table .earthing_title a:visited {
	color: #2E2E2E;
	text-decoration: none;
}

.note {	
	font-size:15px;
	color: #FF0040;
}